<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syferlux.syferbankingtools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/newlogosyferbankingtools"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>
        <activity android:name=".TunggalActivity">
            android:label="@string/tunggal"
        </activity>
        <activity android:name=".MajemukActivity">
            android:label="@string/majemuk"
        </activity>
        <activity android:name=".PrenumActivity">
            android:label="@string/tunggal"
        </activity>
        <activity android:name=".PostnumActivity">
            android:label="@string/majemuk"
        </activity>
        <activity android:name=".AnuitasActivity">
        android:label="@string/majemuk"
          </activity>
        <activity android:name=".AngsuranActivity">
            android:label="@string/majemuk"
        </activity>
        <activity android:name=".AboutActivity">
            android:label="@string/majemuk"
        </activity>

    </application>

</manifest>